<div class="easyim__item easyim__item--padded">
  <div class="easyim__item__pre">
    <%= link_to easy_logo, conversations_easy_instant_messages_path, class: "easyim__avatar", remote: true %>
  </div>

  <div class="easyim__item__content">
    <%= render partial: 'easy_instant_messages/search_contacts' %>
  </div>
</div>
